body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.button {
  z-index: 1;
  background-color: blue;
  padding: 1em;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 1em;
  width: 125px;
}

.button:hover {
  background: pink;
}

/* make height and width 100% so the modal window takes up the entire browser window, most likely will usually keep these dimensions 100%. 
fixed position means the modal will follow the user through out the page*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px solid pink;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

/* modal content contains: header, body, footer. margin auto on left/right auto centers it on the browser */
.modal-content {
  border-radius: 10px;
  width: 75%;
  margin: auto;
  padding: 10px;
  background-color: #fff;
  margin: 25% auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(61, 125, 245, 0.46);
  animation-name: modalopen;
  animation-duration: 1s;
}

.closeBtn {
  color: pink;
  margin: 10 15px;
  font-size: 2em;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
}

.modal-content {
    text-align: left;
}
.modal-content p {
  margin: 10px 0px 0px 0px;
 line-height: 30px;
}

.modal-content h3 {
    padding: 20px 0 0 0 ;
    border-top: 1px solid black;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
