body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.button {
  position: fixed;
  z-index: 1;
  background-color: blue;
  padding: 1em 2em;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 40%;
  font-size: 0.9em;
  width: 150px;
}

.button:hover {
  background: pink;
}

/* make height and width 100% so the modal window takes up the entire browser window, so most likely will usually keep these dimensions 100%. fixed position means the modal will follow the user through out the page*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px solid pink;
}

/* margin auto on left/right auto centers it on the browser */
.modal-content {
  border-radius: 10px;
  width: 80%;
  margin: 15% auto;
  padding: 10px;
  background-color: #fff;
  margin: 15% auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(61, 125, 245, 0.46);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.closeBtn {
  color: pink;
  margin: 0 20px;
  font-size: 2em;
  cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
}

.modal-content p {
  margin: 10px 0px 0px 0px;
  line-height: 30px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
